<div class="container content-payment">
  <div id="statusScreenBrick_container"></div>
  <script>
      const mp = new MercadoPago( "TEST-310b287b-df9a-4de6-8eba-9cb1d253601a", {
          locale: "en-US"
      });
      const bricksBuilder = mp.bricks();
      const renderStatusScreenBrick = async (bricksBuilder) => {
          const settings = {
              initialization: {
                  paymentId: '<%=@payment.mp_id%>', // valor del procesamiento a realizar
              },
              callbacks: {
                  onReady: () => {
                      // callback llamado cuando Brick está listo
                  },
                  onError: (error) => {
                      // callback llamado para todos los casos de error de Brick
                  },
              },
              customization: {
                  visual: {
                      showExternalReference: true
                  }
              }
          };
          window.statusScreenBrickController = await bricksBuilder.create("statusScreen", "statusScreenBrick_container", settings);
      };
      renderStatusScreenBrick(bricksBuilder);
  </script>
  <br>
  <%= button_to "Ver orden", orders_path, class: "btn btn-return" %>
  <%# <%= link_to ‘Go to bookings’, bookings_path, class: “btn btn-dark mt-4 rounded-3” %>

</div>
