.footer {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}


.footer-links i {
  color: #038554;

}

.footer-copyright {
  color: #038554;
}

/* Instagram */
/* .footer .fa-instagram {
  color: #0e3f0e;
} */

/* Facebook */
/* .footer .fa-facebook {
  color: #0e3f0e;

} */

/* Twitter */
/* .footer  .fa-twitter {
  color: #0e3f0e;
}
 */
/* LinkedIn */
/* .footer  .fa-linkedin {
  color: #0e3f0e;

} */

/* .footer .footer-copyright {
color: #0e3f0e;

} */
