
.navbar-lewagon {
  justify-content: space-between;
  background-color: #03bb85;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.custom-logo-size {
  max-width: 250px;
}

.nav-link {
  color: white;
}
.search-bar {
  width: 500px
}
