.fullcontainer {
  margin-top: 120px;
}

.content-home {
  padding-top: 70px;
}
.body-background {
  position: relative;
  z-index: 0;
}

.body-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #caebd5;
  background-size: 5%;
  z-index: -1;
}
.content-home header h1,
.content-home header p.lead
 {
  color: #FE8300;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 4px black;

}
.content-home h2 {
  color: #345e34;
  font-weight: bold;
  font-size: 1.9rem;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #1d793a;
}

.content-about-us {
  padding-top: 150px;
  padding-bottom: 50px;
}

.content-user {
padding-top: 150px;
padding-bottom: 150px;
}

.content-orders {
padding-top: 200px;
padding-bottom: 50px;
}

.content-top {
  padding-top: 200px;
}
.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-session {
  padding-top: 200px;
  padding-bottom: 180px;
}

.mark-text {
  color: transparent;
  font-family: 'Bree Serif', serif;
  -webkit-text-stroke: 0.5px #1d793a;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  position: relative;

}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}



.carousel-inner-home::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #caebd5 90%);
  z-index: 2;
}

.about-us-section {
  position: relative;
  background-image: url('banner_about_us.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-us-text {
  top: 0;
  right: 0;
  width: 55%;
  color: #ffffff;
  background-color: #1d793a63;
  padding: 20px;
  height: 100%;
  font-size: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
