.content-home {
  padding-top: 70px;
}
.body-background {
  position: relative;
  z-index: 0;
}

.body-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('background_pattern_image.png') repeat fixed;
  background-size: 5%;
  opacity: 30%;
  /* Ajusta la opacidad según necesites */
  z-index: -1;
}
.content-home header h1,
.content-home header p.lead
 {
  color: #FE8300;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 4px black;

}
.content-home h2 {
  color: #345e34;
  font-weight: bold;
  font-size: 1.9rem;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #1d793a;
    /* Color del borde */
}

.content-user {
padding-top: 150px;
padding-bottom: 150px;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-session {
  padding-top: 200px;
  padding-bottom: 180px;
}

.mark-text {
  color: transparent;
  font-family: 'Bree Serif', serif;
  -webkit-text-stroke: 0.5px #1d793a;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ver-mas {
  display: none;
  color: #1d793a;
}

.btn-custom {
  font-size: 0.9em;
  border-radius: 25px;
  padding: 5px 10px;

}

.card-body {
  position: relative;

}

.ver-mas {
  position: absolute;
  right: 10px;
  bottom: 10px;

}
html,

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  /* Esto asegura que el footer no se encoge */
}
